body {
    background: linear-gradient(45deg, #2D2B2B, #4A4EAD, #48BDA1, #FF8B2C);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenedor {
    display: flex;
    border: 2px solid white;
    width: 110%;
    height: 80%;
    border-radius: 15px; 
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.particion {
    flex: 1;
    padding: 20px;
    
}

.particion-1 {
    background: #4A4EAD;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px; 
    border-bottom-left-radius: 13px; 
}

.particion-2 {
    background: white;
    border-top-right-radius: 13px; 
    border-bottom-right-radius: 13px; 
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 15px;
}

table tr th img {
    width: 15px;
    padding-left: 8px;
}

table tr {
    border: 1px solid black;
}

table tr th input {
    border: none;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h {
    background-color: black;
    width: 95%;
    color: white;
    font-size: 15px;
    margin-left: 8px;
    margin-top: 20px;
    height: 35px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.h:hover {
    background-color: #4A4EAD;
    color: white;
}

p {
    font-size: 11px;
    text-align: center;
}

p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p a:hover {
    color: #4A4EAD;
    text-decoration: none;
}